<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Use Node.js to run the app -->
    <handlers>
      <add name="node" path="*" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\nodejs\node.exe" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Redirect all requests to server.js -->
        <rule name="NodeJS" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>

  <iisnode>
    <!-- Enable logging for node.js errors -->
    <logging enabled="true" logDirectory="iisnode" />
  </iisnode>
</configuration>
